/* Entire document */

@font-face {
    font-family: 'nunito';
    src: url(./Nunito-VariableFont_wght.ttf) format(truetype);
}

@font-face {
    font-family: 'sono';
    src: url(./Sono-VariableFont_MONO\,wght.ttf) format(truetype);
}

:root {
    --green: #238F51;
    --yellow: #FEC126;
    --red: #F05D4D;
}

h1,
h2,
button {
    font-family: "nunito", sans-serif;
}

h3,
h4,
h5,
p,
input,
label {
    font-family: 'sono', sans-serif
}

html {
    background-color: #f0f0f0;
    color: #262626;
}

body {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.hide, .hide * {
    display: none;
    visibility: hidden;
}

/* header */

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: #262626;
    color: #f0f0f0;
}

.header-title {

}

.header-button {
    border: 1px solid #f0f0f0;
    outline: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #262626;
    color: #f0f0f0;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-time {

}

/* sidebar */
.sidebar-container {
    width: 30%;
    height: calc(100vh - 5rem);
    background-color: #262626;
    color: #f0f0f0;
    position: fixed;
    left: 0;
    top: 3rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    z-index: 1;
}

.sidebar-container h2 {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.sidebar-btn {
    width: 80%;
    border: 1px solid #f0f0f0;
    outline: none;
    background-color: #262626;
    color: #f0f0f0;
    padding: 5px;
    border-radius: 10px;
    margin: 0 auto;
}

.sidebar-btn:active {
    background-color: #f0f0f0;
    color: #262626;
}

/* reminder tiles */
#reminder-list {
    padding-left: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.reminder-tile {
    width: 80%;
    border: 3px solid #262626;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem auto;
    list-style-type: none;
    position: relative;
}

.tile-top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tile-open {
    background-color: transparent;
    color: #262626;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.tile-open:active {
    background-color: #262626;
    color: #f0f0f0
}

.title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-button-container > h2 {
    margin: 0;
}

/* new input */
form {
    padding: 1rem;
    width: 70vw;
    height: 50%;
    z-index: 1;
    position: absolute;
    background-color: #262626;
    color: #f0f0f0;
    right: -13rem;
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
}

.form-button {
    width: 2rem;
}

form > input, form > select {
    width: 60%;
    height: 2rem;
    align-self: center;
    margin: 0;
}

form > input[type="submit"] {
    width: 30%;
}

form > button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: #262626;
    color: #f0f0f0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* idle graphic */

.idle-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
}

.idle-container > img {
    z-index: -1;
}

/* footer */
.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: #262626;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

/* mobile tweaks */

@media (max-width: 500px) {
    .header-time {
        display: none;
    }
}

/* temp */