/* Entire document */

@font-face {
    font-family: 'nunito';
    src: url(./Nunito-VariableFont_wght.ttf) format(truetype);
}

@font-face {
    font-family: 'sono';
    src: url(./Sono-VariableFont_MONO\,wght.ttf) format(truetype);
}

:root {
    --green: #238F51;
    --yellow: #FEC126;
    --red: #F05D4D;
}

h1,
h2,
button {
    font-family: "nunito", sans-serif;
}

h3,
h4,
h5,
p,
input,
label,
li {
    font-family: 'sono', sans-serif
}

html {
    background-color: #f0f0f0;
    color: #262626;
}

body {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.hide, .hide * {
    display: none;
    visibility: hidden;
}

/* header */

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: #262626;
    color: #f0f0f0;
}

.header-title:hover {
    color: var(--green);
}

.header-button {
    border: 1px solid #f0f0f0;
    outline: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #262626;
    color: #f0f0f0;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-time {
    position: fixed;
    top: 4rem;
    right: 2rem;
    height: 20%;
    border: 1px solid #262626;
    border-radius: 10px;
    text-align: right;
    padding: 0 2rem;
}

/* sidebar */
.sidebar-container {
    width: 30%;
    height: calc(100vh - 5rem);
    background-color: #262626;
    color: #f0f0f0;
    position: fixed;
    left: 0;
    top: 3rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    z-index: 1;
}

.sidebar-container h2 {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.sidebar-btn {
    width: 80%;
    border: 1px solid #f0f0f0;
    outline: none;
    background-color: #262626;
    color: #f0f0f0;
    padding: 5px;
    border-radius: 10px;
    margin: 0 auto;
}

.sidebar-btn:active {
    background-color: #f0f0f0;
    color: #262626;
}

/* reminder tiles */
#reminder-list {
    padding-left: 0;
    padding-bottom: 2rem;
}

.reminder-tile {
    width: 80%;
    border: 3px solid #262626;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem auto;
    list-style-type: none;
    position: relative;
}

.tile-top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tile-open, .tile-delete {
    background-color: transparent;
    color: #262626;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.tile-open:active, .tile-delete:active {
    background-color: #262626;
    color: #f0f0f0
}

.title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-button-container > h2 {
    margin: 0;
}

/* Sorting */
.sort-container {
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem;
    border: 1px solid #262626;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.sort-button {
    border: 1px solid #262626;
    outline: none;
    border-radius: 10px;
}

/* new input */
form {
    padding: 1rem;
    width: 70vw;
    z-index: 1;
    position: absolute;
    background-color: #262626;
    color: #f0f0f0;
    right: -13rem;
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
}

.form-button {
    width: 2rem;
}

form > input, form > select {
    width: 60%;
    height: 2rem;
    align-self: center;
    margin: 0;
}

form > input[type="submit"] {
    width: 30%;
}

form > button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: #262626;
    color: #f0f0f0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* project list */
.project-container {
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #262626;
    border-radius: 10px;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 0;
    margin: 0;
    gap: 1rem;
}

.project-list * {
    padding-left: 0;
    list-style-type: none;
}

.trash-icon:hover {
    color: var(--red)
}

/* idle graphic */

.idle-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
}

.idle-container > img {
    z-index: -1;
    width: 40%;
    opacity: 0.4;
}

/* footer */
.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: #262626;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

/* mobile tweaks */

@media (max-width: 770px) {
    .header-time {
        display: none;
    }
}

/* desktop settings */
@media (min-width: 770px) {
    .idle-container {
        margin-top: 8rem;
    }
    .idle-container > img {
        width: 20%;
    }
    form {
        width: 60%;
        right: -13rem;
        top: 0;
    }
    #reminder-list {
        width: 60%;
        margin: 2rem auto;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
    }
    .reminder-tile {
        height: min-content;
        width: 25%;
        margin: 0;
    }
    .sort-container {
        width: 50%;
    }
    .sidebar-container {
        width: 15%;
    }
    .project-container {
        width: 30%;
        margin: 5rem auto;
        justify-content: space-around;
    }
}

/* temp */